<div class="container-fluid">

  <!-- breadcrumb -->
  <app-breadcrumb></app-breadcrumb>

  <!-- Products of Category -->
  <h4 class="mt-1">Category Name: {{(category$ | async)?.name}}</h4>
  <br>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <ng-container *ngFor="let product of (category$ | async)?.products">
      <div class="col justify-content-start">
        <app-product-card [product]="product" (addToCart)="addToCart($event.product, $event.quantity)">
        </app-product-card>
      </div>
    </ng-container>
  </div>

  <!-- pagination -->
  <app-pagination></app-pagination>
</div>
