.category-card-2 {
    max-width: 450px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    /* background-position: center; */
    /* overflow: hidden;
    position: relative; */
    margin: 10px 10px 10px 0 ;
    /* cursor: pointer; */
    border-radius: 10px;
}

.category-card-2 img {
    transition: all linear 0.25s;
    width: 100%;
    height: 100%;
}

/* .category-card-2 .category-name {
    position: absolute;
    left: 17px;
    bottom: 130px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
} */

/* #categoryButton {
    position: absolute;
    bottom: 85px;
    left: 17px;
    width: 180px;
    height: 40px;
    transition: all linear 0.25s;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;

} */

.category-card-2:hover img {
    filter: saturate (1.4);
}

.category-card-2:hover .category-name {
    bottom: 125px;
}

/* .row > * {
    padding-left: calc(var(--bs-gutter-x) * 0);
} */