


.progresses{
    display: flex;
        align-items: center;
   }

   .line{

    width: 120px;
    height: 3px;
    background: #63d19e;
   }

<<<<<<< HEAD
   .linetill{

    width: 120px;
    height: 3px;
    background: #8d8d8d;
   }

=======
>>>>>>> 85c17aee505ab0e374ab73ebcd30201996edf341
   
   .steps{

    display: flex;
    background-color: #63d19e;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

<<<<<<< HEAD
   }

   .stepstill{

    display: flex;
    background-color: #8d8d8d;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

=======
>>>>>>> 85c17aee505ab0e374ab73ebcd30201996edf341
   }